# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/

# Pyenv
.python-version

# IDEs and editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# dotenv
.env
.env.*

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Misc
*.sqlite3
*.db
__MACOSX/
*~
~$*
