--extra-index-url https://download.pytorch.org/whl/rocm7.2

torch
torchvision
torchaudio
transformers
accelerate
vllm
gradio
opencv-python
ultralytics
gTTS
soundfile
numpy
pillow
requests
tqdm
bitsandbytes